@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=Ibarra+Real+Nova:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    color: #fafafa;
}

/* Header, headings and logo */

header {
    width: 100%;
    height: 50px;
    background-color: #0882A3;
}

h1, h2 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F2E43F;
}

p {
    font-size: 140%;
}

#logo {
    font-family: 'Cormorant SC', serif;
    text-shadow: 2px 2px #A69E42;
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

#logo, #menu {
    line-height: 50px;
}

/* Navigation links and menu */

#menu {
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: white;
}

#menu a:hover{
    border-bottom: 1px solid #F2E43F;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

    margin: 0 auto;
}

#hero-image {
    height: 600px;
    width: 100%;
    
    background: url('../images/MainImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
    transform: scale(1.1);

    transition: transform 2s ease-out 100ms;
}

#cover-text {
    width: 100%;
    height: 600px;

    margin: 0 auto;
        
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0);
    
    transition: background-color 2s ease-out 100ms;
}

#cover-text h2 {
    color: rgba(136, 136, 136, 0);
    font-size: 130%;
    font-family: 'Ibarra Real Nova', serif;
    
    text-transform: none;
    text-align: center;
    margin: 0 100px;

    transition: color 2s ease-out 100ms;
}

/* Hero image and cover text hover values */

#cover-text:hover {
    background-color: rgba(0,0,0,0.7);
}

#cover-text:hover h2 {
    color: rgba(200, 200, 200, 1);
}

#hero-image:hover {
    transform: scale(1.0);
}

/* Game section 1 */

#game1, #game2 {
    width: 100%;
    height: 300px;
    background-color: #0882A3;

    margin: 100px auto;

    display: flex;
    flex-direction: row;
}

#game1-img {
    width: 350px;
    height: 350px;

    object-fit: cover;

    position: relative;
    top: -25px;
    margin-left: 25px;

    border-radius: 50%;
}

#game1-text {
    width: 90%;
    text-align: center;
    margin: 25px;
}

#game1-text p {
    margin-top: 25px;
}

/* Game section 2 */

#game2-img {
    width: 350px;
    height: 350px;

    object-fit: cover;

    position: relative;
    top: -25px;
    margin-right: 25px;

    border-radius: 50%;
}

#game2-text {
    width: 90%;
    text-align: center;
    margin: 25px;
}

#game2-text p {
    margin-top: 25px;
}

/* About us */

#about-us {
    width: 100%;
    height: auto;
    background-color: #0882A3;
    padding: 30px 0;
}

#about-us > h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 200%;
}

#about-us > p {
    text-align: center;
    margin-bottom: 30px;
}

#team-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-member {
    width: 33%;
    text-align: center;
}

.team-member img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    border-radius: 50%;
}

/* Contact */

#contact-section {
    background-color: #0882A3;
    padding: 30px 0;
}

#contact-section > h2 {
    text-align: center;
}

#contact-form {
    width: 60%;
    height: auto;

    margin: 20px 33%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-input {
    max-width: 500px;
    min-width: 300px;
    height: 25px;
    
    margin: 10px 0;

    border: 2px solid #06586f;
    border-radius: 2px;
}

.textarea-input {
    max-width: 500px;
    min-width: 300px;
    max-height: 100px;
    min-height: 50px;

    margin: 10px 0;

    border: 2px solid #06586f;
    border-radius: 2px;
}

.submit-button {
    width: 100px;
    height: 50px;

    text-transform: uppercase;
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    font-weight: bold;

    background-color: #06586f;
    color: #F2E43F;

    border-radius: 3px;

    margin-top: 15px;
}

/* Footer */

footer {
    height: 125px;
    width: 100%;
    background-color: #06586f;

    margin-top: 20px;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social-media > li {
    list-style-type: none;
}

#social-media i {
    font-size: 50px;
    color: #F2E43F;
    margin: 40px 30px 0px 30px; 
}

#sign-text {
    font-size: 10px;
    text-align: right;
    
    position: relative;
    bottom: -15px;
    margin-right: 10px;
}
